.filter_list {
    width: 100%;
    height: auto;
    background: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2px solid var(--background-cards);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.filter_list li {
    font-size: 1.6rem;
    cursor: url('../../../public/img/1.svg'), auto;
}

@media (max-width: 620px ) {
    .filter_list {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}