.App {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    left: calc(50% - 152.5px);
    top: 10px;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: 320px;
    height: 48px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-right: 12px;
}

.title h1 {
    font-size: 3.4rem;
    position: absolute;
}

.border {
    color: black;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white,
        -1px 1px 0 white
        ;
}

.wave {
    color: var(--status-color-alive);
    animation: wave 3s ease-in-out infinite ;
}

@keyframes wave{
    0%, 100%{
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0 100%
        );
    }
}

/*  IMG - Slider */

.container_all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

img {
    max-width: 100%;
}

.container_img {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item_slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination_item:hover {
    transform: scale(2);
}

.pagination_item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination_item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination_item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination_item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination_item[for="3"] {
    background: #fff;
}

input[id="4"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked~.pagination .pagination_item[for="4"] {
    background: #fff;
}

input[id="5"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked~.pagination .pagination_item[for="5"] {
    background: #fff;
}

input[id="6"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="6"]:checked~.pagination .pagination_item[for="6"] {
    background: #fff;
}

input[id="7"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 6), 0, 0);
}

input[id="7"]:checked~.pagination .pagination_item[for="7"] {
    background: #fff;
}

input[id="8"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 7), 0, 0);
}

input[id="8"]:checked~.pagination .pagination_item[for="8"] {
    background: #fff;
}

input[id="9"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 8), 0, 0);
}

input[id="9"]:checked~.pagination .pagination_item[for="9"] {
    background: #fff;
}

input[id="10"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 9), 0, 0);
}

input[id="10"]:checked~.pagination .pagination_item[for="10"] {
    background: #fff;
}

input[id="11"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 10), 0, 0);
}

input[id="11"]:checked~.pagination .pagination_item[for="11"] {
    background: #fff;
}

input[id="12"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 11), 0, 0);
}

input[id="12"]:checked~.pagination .pagination_item[for="12"] {
    background: #fff;
}

input[id="13"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 12), 0, 0);
}

input[id="13"]:checked~.pagination .pagination_item[for="13"] {
    background: #fff;
}

@keyframes autoplay {
    7% {
        transform: translate3d(calc(-100% * 0));
    }

    14% {
        transform: translate3d(calc(-100% * 1));
    }

    21% {
        transform: translate3d(calc(-100% * 2));
    }

    28% {
        transform: translate3d(calc(-100% * 3));
    }

    35% {
        transform: translate3d(calc(-100% * 4));
    }

    42% {
        transform: translate3d(calc(-100% * 5));
    }

    49% {
        transform: translate3d(calc(-100% * 6));
    }

    56% {
        transform: translate3d(calc(-100% * 7));
    }

    63% {
        transform: translate3d(calc(-100% * 8));
    }

    70% {
        transform: translate3d(calc(-100% * 9));
    }

    77% {
        transform: translate3d(calc(-100% * 10));
    }

    84% {
        transform: translate3d(calc(-100% * 11));
    }

    100% {
        transform: translate3d(calc(-100% * 12));
    }
}

/* form container */

.form_container {
    background-color: beige;
    margin: 24px;
    display: grid;
    grid-template-columns: 1fr 32%;
}

.form_button {
    background-color: 2;
    border: 0.2rem solid;
    border-color: aqua;
    border-radius: 4rem;
    margin-left: 2.8rem;
}

.card__container {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}